:root{
	--primary-text-color:rgba(117, 117, 117, 1);
	--title-text-color: rgba(33, 33, 33, 1);
	--accent-color: rgba(33, 150, 243, 1);
	--primary-bg-color:rgba(255, 255, 255, 1);
	--exyra-bg-color:rgba(47, 48, 58, 1);
	--cards-color:rgba(236, 236, 236, 1);
	--icon-color:rgba(175, 177, 184, 1);
	--timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
}

h1,
h2,
h3,
p{
	margin-top: 0;
	margin-bottom: 0;
}


body{
	background-color:var(--primary-bg-color);
	color: var(--primary-text-color);
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	letter-spacing: 0.03em;
}
.container{
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}
.section {
	padding-top: 94px;
	padding-bottom: 94px;
}
section.activity{
	padding-top: 0;
}

/* title */
.title{
	margin-top: 0;
	margin-bottom: 50px;
	color:var(--title-text-color);
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* header */
.header{
	border-bottom: 1px solid rgba(236, 236, 236, 1);
}
.header-box{
	display: flex;
	align-items: center;
}
.header-nav{
	display: flex;
	align-items: center;
}
.logo{
	color: var(--title-text-color);
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
}
.logo span{
	color: var(--accent-color);
}
.site{
	display: flex;
	margin-left: 73px;
}
.site-item:not(:last-child){
	margin-right: 50px;
}
.site-link{
	display: block;
	padding: 32px 0;
	color: var(--title-text-color);
}
.contacts{
	display: flex;
	margin-left: auto;
}
.site-link,
.contacts-link{
	line-height: 1.14;
	letter-spacing: 0.02em;
	font-weight: 500;

	transition: color 250ms var(--timing-function);
}
.contacts-link{
	display: block;
	text-align: center;
	color: var(--primary-text-color);
	fill: currentColor;

}
.contacts-link:hover,
.site-link:hover,
.site-link:focus,
.contacts-link:focus{
	color: var(--accent-color);
}
.current{
	color: var(--accent-color);
}
.contacts-link{
	display: flex;
	align-items: center;
	justify-content: center;
}
.contacts-item + .contacts-item{
	margin-left: 30px;
}
.contacts-icon{
	display: block;
	margin-right: 10px;
}
.current{
	position: relative;
}
.current::after{
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;

	width: 100%;
	height: 4px;

	border-radius: 2px;	
	background-color: var(--accent-color);
}

/* introduction */
.introduction{
	min-height: 600px;
	background-color: var(--exyra-bg-color);
	background-image: linear-gradient(
		to right,
rgba(47, 48, 58, 0.4),
rgba(47, 48, 58, 0.4)),
	url('../img/introduction/introduction-bg-2.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	letter-spacing: 0.06em;
	text-align: center;
}
.introduction-content{
	padding-top: 200px;
	padding-bottom: 200px;
}
.introduction-title{
	width: 670px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	color: var(--primary-bg-color);
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-transform: uppercase;
}
.backdrop{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 100;

	opacity: 1;
	transition: opacity 250ms var(--timing-function);
}
.backdrop.is-hidden{
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
}
.backdrop.is-hidden .modal{
	transform: translate(-50%, -50%) scale(0.9);
}
.modal{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);

	background-color: #ffffff;
	border-radius: 4px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	
	transition: transform 250ms var(--timing-function);
}
.button-close{
	position: absolute;
	right: 8px;
	top: 8px;
	padding: 0;

	display: flex;
	align-items: center;
	justify-content: center;
	max-height: 30px;
	max-width: 30px;
	

	border: 1px solid rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 1);
	border-radius: 50%;
	background-color: transparent;
	overflow: hidden;
	cursor: pointer;

	transition: color 250ms var(--timing-function);
}
.button-close:hover,
.button-close:focus{
	color: var(--accent-color);
}
.btn-close{
	fill: currentColor;
}
.button{
	border-radius: 4px;
	border: none;
	display: inline-block;
	padding: 10px 32px;
	min-width: 200px;
	min-height: 50px;

	color: var(--primary-bg-color);
	background-color: var(--accent-color);
	font-family: inherit;
	letter-spacing: 0.06em;
	font-weight: 700;
	line-height: 0.5em;
	cursor: pointer;
	text-align: center;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

	transition: background-color 250ms var(--timing-function);
}
.button:hover,
.button:focus{
	background-color: rgba(24, 140, 232, 1);
}
.title-form{
	font-size: 20px;
	margin-bottom: 12px;
	line-height: 0.8;
	letter-spacing: 0.03em;
}
.form{
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	padding: 40px;
	margin: 0;
	border: none;
}
.form-fild{
	display: flex;
	flex-direction: column;
	width: 448px;
	position: relative;
}
.form-svg{
	width: 16px;
	height: 16px;

	position: absolute;
	left: 0;
	bottom: 0;
	transform: translate(12px, -14px);

	fill: currentColor;
	color: var(--title-text-color);
	transition: color 250ms var(--timing-function);
}
.form-fild:active .form-svg,
.form-fild:hover .form-svg,
.form-fild:focus-within .form-svg
{
	color: var(--accent-color);
}
.form-fild:nth-child(-n + 4){
	margin-bottom: 10px;
}
.form-fild:nth-child(5){
	margin-bottom: 20px;
}
.form-fild a{
	color: var(--accent-color);
}
.form-fild input{
	height: 40px;
	margin: 0;
	padding: 11px 0 11px 42px;

	font-size: 12px;
	line-height: 0.84;
	letter-spacing: 0.01em;

	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;

	transition: border-color 250ms var(--timing-function);
}
.form-fild textarea{
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	resize: none;
	min-height: 120px;
	padding: 12px 16px;

	font-size: 12px;
	line-height: 0.84;
	letter-spacing: 0.01em;

	transition: border-color 250ms var(--timing-function);
}
.form-fild:active input,
.form-fild:hover input,
.form-fild input:focus,
.form-fild:active textarea,
.form-fild:hover textarea,
.form-fild textarea:focus
{
	border: 1px solid var(--accent-color);
}
.form-fild textarea::placeholder{
	color: rgba(117, 117, 117, 0.5);
}
.form-fild label{
	text-align: left;
	font-size: 12px;
	line-height: 0.84;
	letter-spacing: 0.01em;
}
.form-fild :not(:last-child){
	margin-bottom: 4px;
}
.form-fild imput[type="checkbox"]{
	font-size: 14px;
}
.form-checkbox{
	flex-direction: row;
	align-items: center;
	margin-bottom: 30px;
cursor: pointer;
}
.form-icon{
	display: inline-block;
	width: 16px;
	height: 15px;
	margin-right: 8px;

	border: 2px solid var(--title-text-color);
	border-radius: 2px;

	transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
}
.form-fild .form-icon{
	margin-bottom: 0;
}
.checkbox:checked + .form-icon{
	background-color: var(--accent-color);
	border-color: var(--accent-color);

	background-image: url('../img/icon-check.svg');
	background-size: contain;
	background-origin: border-box;
}
.form-fild a{
	margin-left: 0.07em;
	text-decoration: underline;
}
/* company */
.company-info{
	display: flex;
}
.company-subtitle{
	margin-bottom: 10px;
	color:var(--title-text-color);
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
}
.company-text{
	line-height: 1.71;
}
.company-item{
	max-width: 270px;
}
.company-item:not(:nth-last-child(-n + 1)){
	margin-right: 30px;
}
.company-icon{
	display: flex;
	align-items: center;
	background-color: rgba(245, 244, 250, 1);
	width: 270px;
	height: 120px;
	margin-bottom: 30px;
}


/* activity*/
.activity-item{
	max-height: 370px;
}
.activity-items{
	display: flex;
}
.activity-item:not(:nth-last-child(-n + 1)){
	margin-right: 30px;
}
.activity-subtitle{
	position: relative;
}
.activity-text{
	position: absolute;
	bottom: 0;
	left: 0;
	transform: translate(0%, -4%);

	width: 100%;
	padding: 27px 82px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 0.9;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
background-color: rgba(47, 48, 58, 0.8);
color: var(--primary-bg-color);
}
/* Our team */
.team{
	font-size: 16px;
	line-height: 1.16;
	background-color: rgba(245, 244, 250, 1);
}
.team-subtitle{
	color: var(--title-text-color);
	font-weight: 500;
	font-size: 16px;
	margin-bottom: 10px;
}
.team-content{
	padding-top: 30px;
	padding-bottom: 30px;
}
.team-items{
	display: flex;
	text-align: center;
}
.team-item:not(:nth-last-child(-n + 1)){
	margin-right: 30px;
}
.team-item{
	background-color:#ffffff;
	border-radius: 0px 0px 4px 4px;
	border: 1px solid rgba(238, 238, 238, 1);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-social{
	display: flex;
	padding: 16px 32px 0 32px;
}
.team-social-link + .team-social-link{
	margin-left: 10px;
}
.team-social-icon{
	fill:currentColor;
}
.team-social-item{
	color: var(--icon-color);
	display: block;
	background-color: transparent;
	border-radius: 50%;
	width: 44px;
	height: 44px;
	padding: 12px;

	transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
}
.team-social-item:hover,
.team-social-item:focus{
	background-color: var(--accent-color);
	color: var(--primary-bg-color);
}

/*clients*/
.clients-items{
	display: flex;
}
.clients-item{
	display: block;
	color: var(--icon-color);
}
.clients-link{
	display: flex;
	text-align: center;
	justify-content: center;
	color: var(--icon-color);
	width: 170px;
	height: 92px;
	padding: 15px 31px;
	margin: 0;
	border: 1px solid currentColor;
	border-radius: 4px;

	transition: color 250ms var(--timing-function);
}
.clients-item + .clients-item{
	margin-left: 30px;
}
.item-img{
	fill: currentColor;
}
.clients-link:hover,
.clients-link:focus{
	color: var(--accent-color);
}
/* footer */
.footer{
	background-color: var(--exyra-bg-color);
	padding-top: 60px;
	padding-bottom: 60px;
}
.footer-logo{
	display: inline-block;
	margin-bottom: 20px;
	color: var(--primary-bg-color);
}
.address-link{
	color: rgba(255, 255, 255, 0.6);
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: 1.71;
	letter-spacing: 0.03em;

	transition: color 250ms var(--timing-function);
}
.address-li + .address-li{
	margin-top: 9px;
}
.link-white{
	color: var(--primary-bg-color);
}
.address-link:focus,
.address-link:hover{
	color: var(--accent-color);
}

/* portgolio */
.portfolio-nav{
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}
.btn-nav{
	display: inline-block;
	border-radius: 4px;
	padding: 6px 22px;
	border: none;
	min-width: 73px;
	color: var(--title-text-color);
	background-color:rgba(245, 244, 250, 1);
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.63;
	cursor: pointer;
	text-align: center;

	transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}
.portfolio-btn{
	margin-right: 8px;
}
.portfolio-btn:nth-last-child(-n + 1){
	margin-right: 0;
}

.btn-nav:hover,
.btn-nav:focus{
	background-color: var(--accent-color);
	color: var(--primary-bg-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-items{
	display: flex;
	flex-wrap: wrap;

}
.portfolio-item{
	width: calc((100% - 60px) / 3);

	transition: box-shadow 250ms var(--timing-function);
}
.portfolio-item:not(:nth-child(3n)){
	margin-right: 30px;
}
.portfolio-item:not(:nth-last-child(-n + 3)){
	margin-bottom: 30px;
}
.portfolio-item:hover,
.portfolio-item:focus{
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-overlay{
	position: relative;
	overflow: hidden;
}
.portfolio-position{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	opacity: 0;
	transform: translateY(100%);
	transition: opacity 250ms var(--timing-function), transform 250ms var(--timing-function);

	background-color: rgba(33, 150, 243, 0.9);
}
.position-text{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 322px;


	font-size: 18px;
	line-height: 1.3;
	letter-spacing: 0.03em;
	color: #ffffff;
}
.portfolio-item > a:hover .portfolio-position,
.portfolio-item > a:focus .portfolio-position{
	opacity: 1;
	transform: translateY(0%);
}
.portfolio-info{
	border: 1px solid var(--cards-color);
	border-top: none;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 24px;
	padding-right: 24px;
}
.portfolio-subtitle{
	margin-top: -3px;
	margin-bottom: 4px;
	color: var(--title-text-color);
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}

.portfolio-text{
	color: var(--primary-text-color);
	font-size: 16px;
	line-height: 1.88;
}
.social,
.footer-inner{
	display: flex;
}
.social-network{
	margin-left: 70px;
}
.social-link > a {
	display: block;
	background-color: rgba(255, 255, 255, 0.1);
	color: var(--primary-bg-color);
	border-radius: 50%;
	width: 44px;
	height: 44px;
	padding: 12px;

	transition: background-color 250ms var(--timing-function);
}
.social-link + .social-link{
	margin-left: 10px;
}
.footer-title{
	color: var(--primary-bg-color);
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 20px;
	font-size: 14px;
}
.social-icon{
	fill: currentColor;
}
.social-link > a:hover,
.social-link > a:focus{
	background-color: var(--accent-color);
}
.subscription {
	margin-left: 93px;
}
.subscription-box{
	display: flex;
}

.footer-button {
	position: relative;

	justify-content: center;
	margin-left: 12px;
	padding: 10px 62px 10px 30px;
}
.button-send {
	position: absolute;
	top: 50%;
	right: 28px;
	transform: translateY(-50%);
}
.footer-form{
	display: flex;
	width: 360px;
	height: 50px;
	
}
.footer-form input{
	width: 100%;
	margin: 0;
	padding: 15px 0 15px 16px;
	

	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;

	font-size: 16px;
	line-height: 0.8em;
	letter-spacing: 0.03em;
	background-color: var(--exyra-bg-color);
	color: var(--primary-bg-color);
}
.footer-form input::placeholder{
	color: rgba(255, 255, 255, 0.6);	
}
